<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _feature-image.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="post">
    <div class="headline-wrap">
      <h1>{{ page.title }}</h1>
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {{ content }}
      <hr />
      <div role="contentinfo">
        {% if page.share %}{% include _social-share.html %}{% endif %}
        <p><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
        <p>
          {% if page.tags.size > 0 %}
            <strong>Tag{% if page.tags.size > 1 %}s{% endif %}:</strong>
            {% assign tags = page.tags | sort %}
            {% for tag in tags %}
              <a href="">{{ tag }}</a>{% if tag != tags.last  %},{% endif %}
            {% endfor %}
          {% endif %}
        </p>
        <ul class="content-navigation">
          {% if page.next.url %}
            <li><strong>Next:</strong> <a href="{{page.next.url}}">{{page.next.title}}</a></li>
          {% endif %}
          {% if page.previous.url %}
            <li><strong>Previous:</strong> <a href="{{page.previous.url}}">{{page.previous.title}}</a></li>
          {% endif %}
        </ul>
      </div>
    </div><!-- /.article-wrap -->
    {% if site.owner.disqus-shortname and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
